<style>
  .font-clr {
    color: white;
  }
  .font-padd {
    padding: 1%;
  }
  .homebg {
    background-image: url(../images/bridge.jpg);
    background-size: cover;
    height: 300%;
    background-repeat: no-repeat;
  }
  background-image {
    max-width: 100%;
    max-height: 100%;
  }
</style>

<div class="homebg">
  <h1 class="font-clr font-padd"> Welcome to Shop Bridge!</h1>
  <div class="font-clr font-padd">
    <p>The site deals with Product logistics which allows various action on the products </p>
    <ul>
      <li>You can add a Product</li>
      <li>You modify or delete a Product</li>
      <li>View all Products</li>
    </ul>
  </div>
</div>
